name: app_launcher
description: A flutter plugin that launches an Android or iOS installed on the device using the application ID.
version: 1.0.1
homepage: https://github.com/Akora-IngDKB/app_launcher.git

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  url_launcher: ^6.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: me.akoraingdkb.app_launcher
        pluginClass: AppLauncherPlugin
